extends layout

block content
  .container
    h1= title
    p Welcome to #[em LocalLibrary], a very basic Express website developed as a tutorial example on the Mozilla Developer Network.

    h2 Dynamic Content

    p The library has the following record counts:

    ul.record-counts
      li
        strong Books:
        span !{book_count}
      li
        strong Copies:
        span !{book_instance_count}
      li
        strong Copies Available:
        span !{book_instance_available_count}
      li
        strong Authors:
        span !{author_count}
      li
        strong Genres:
        span !{genre_count}
